$mobile-xs: 480px;
$mobile: 767px;
$tablet: 991px;
$desktop: 1199px;
$desktop-xl: 1200px;
$mobile-tablet: 991px;
$mobile-desktop: 1199px;
$tablet-desktop: 768px;
$desktop-desktop-xl: 992px;

@mixin respond-to($media) {
    @if $media==mobile-xs {
        @media only screen and (max-width: $mobile-xs) {
            @content;
        }
    }
    @else if $media==mobile {
        @media only screen and (max-width: $mobile) {
            @content;
        }
    }
    @else if $media==tablet {
        @media only screen and (min-width: $mobile + 1) and (max-width: $tablet) {
            @content;
        }
    }
    @else if $media==desktop {
        @media only screen and (min-width: $tablet + 1) and (max-width: $desktop) {
            @content;
        }
    }
    @else if $media==desktop-xl {
        @media only screen and (min-width: $desktop-xl) {
            @content;
        }
    }
    @else if $media==mobile-tablet {
        @media only screen and (max-width: $mobile-tablet) {
            @content;
        }
    }
    @else if $media==mobile-desktop {
        @media only screen and (max-width: $mobile-desktop) {
            @content;
        }
    }
    @else if $media==tablet-desktop {
        @media only screen and (min-width: $tablet-desktop) {
            @content;
        }
    }
    @else if $media==desktop-desktop-xl {
        @media only screen and (min-width: $desktop-desktop-xl) {
            @content;
        }
    }
    @else if $media==ie {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            @content;
        }
    }
}

@mixin font-size($valor) {
    font-size: $valor + px;
    font-size: $valor/16 + em;
}

@mixin generals{
    .fa{ 
        font-family: "FontAwesome"; 
        font-weight: bold;
    };
    
    // Polyfill para object fit no ie
    img[data-object-fit="contain"] {
        object-fit: contain;
    }
    
    img[data-object-fit="cover"] {
        object-fit: cover;
    }
    
    [class*=nb-xs],
    [class*=nb-sm],
    [class*=nb-md],
    [class*=nb-lg] {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        flex: left;
    }
    .nb-xs-12 {
        width: 100%;
    }
    .nb-xs-11 {
        width: 91.66666667%;
    }
    .nb-xs-10 {
        width: 83.33333333%;
    }
    .nb-xs-9 {
        width: 75%;
    }
    .nb-xs-8 {
        width: 66.66666667%;
    }
    .nb-xs-7 {
        width: 58.33333333%;
    }
    .nb-xs-6 {
        width: 50%;
    }
    .nb-xs-5 {
        width: 41.66666667%;
    }
    .nb-xs-4 {
        width: 33.33333333%;
    }
    .nb-xs-3 {
        width: 25%;
    }
    .nb-xs-2 {
        width: 16.66666667%;
    }
    .nb-xs-1 {
        width: 8.33333333%;
    }
    @include respond-to(tablet-desktop) {
        .nb-sm-12 {
            width: 100%;
        }
        .nb-sm-11 {
            width: 91.66666667%;
        }
        .nb-sm-10 {
            width: 83.33333333%;
        }
        .nb-sm-9 {
            width: 75%;
        }
        .nb-sm-8 {
            width: 66.66666667%;
        }
        .nb-sm-7 {
            width: 58.33333333%;
        }
        .nb-sm-6 {
            width: 50%;
        }
        .nb-sm-5 {
            width: 41.66666667%;
        }
        .nb-sm-4 {
            width: 33.33333333%;
        }
        .nb-sm-3 {
            width: 25%;
        }
        .nb-sm-2 {
            width: 16.66666667%;
        }
        .nb-sm-1 {
            width: 8.33333333%;
        }
    }
    
    @include respond-to(desktop-desktop-xl) {
        .nb-md-12 {
            width: 100%;
        }
        .nb-md-11 {
            width: 91.66666667%;
        }
        .nb-md-10 {
            width: 83.33333333%;
        }
        .nb-md-9 {
            width: 75%;
        }
        .nb-md-8 {
            width: 66.66666667%;
        }
        .nb-md-7 {
            width: 58.33333333%;
        }
        .nb-md-6 {
            width: 50%;
        }
        .nb-md-5 {
            width: 41.66666667%;
        }
        .nb-md-4 {
            width: 33.33333333%;
        }
        .nb-md-3 {
            width: 25%;
        }
        .nb-md-2 {
            width: 16.66666667%;
        }
        .nb-md-1 {
            width: 8.33333333%;
        }
    }
    @include respond-to(desktop-xl) {
        .nb-lg-12 {
            width: 100%;
        }
        .nb-lg-11 {
            width: 91.66666667%;
        }
        .nb-lg-10 {
            width: 83.33333333%;
        }
        .nb-lg-9 {
            width: 75%;
        }
        .nb-lg-8 {
            width: 66.66666667%;
        }
        .nb-lg-7 {
            width: 58.33333333%;
        }
        .nb-lg-6 {
            width: 50%;
        }
        .nb-lg-5 {
            width: 41.66666667%;
        }
        .nb-lg-4 {
            width: 33.33333333%;
        }
        .nb-lg-3 {
            width: 25%;
        }
        .nb-lg-2 {
            width: 16.66666667%;
        }
        .nb-lg-1 {
            width: 8.33333333%;
        }
    }
    
    .nobossmodule__section {
        .container {
            max-width: 100%;
        }
    }
    
    .nb-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto !important;
        margin-left: auto !important;
        box-sizing: border-box;
    }
    
    @media (min-width: 992px) {
        .nb-container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .nb-container {
            max-width: 1140px;
        }
    }
}


